.wbu-qty-button {
    display: inline;
    text-decoration: none !important;
    font-weight: bold;
    width: 30px;
    color: #808b94;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 5px;
}

.wbu-qty-button a {
    border-bottom: none;
}

.wbu-quantity {
    width: 100%;
}

.wbu-hide {
    display: none !important;
}

.product-name .qty {
    width: 4em;
    display: inline;
}

.product-name .quantity {
    display: inline;
    float: right;
}

.product_price {
    font-weight: bold;
}

.product_price::before {
    content: ' × ';
}


.checkout-qty-title {
    float: right;
}

.woocommerce-checkout-review-order-table .qty {
    max-width: 85px;
}

.shop_table .quantity {
    min-width: 120px;
}

.col-inner .qty {
    margin-top: 1em;
}